{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "userTabs": false,
    "printWidth": 100,
    "tailingComma": "es5",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ]
}
